.dark {
  .headerAside {
    .letter {
      color: var(--main-dark-color);
    }
    .shadow {
      color: #ececec;
      opacity: 0.5;
    }
  }
}

.headerAside {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 0.9) 80%,
      rgba(255, 255, 255, 0.25) 95%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .letter {
    color: var(--main-color);
  }
  .text {
    font-size: 2rem;
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;

    .wrapper {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 10px;
      .letter {
        transition: ease-in 1s, ease-out 1s;
        transform: translateY(40%);
      }
      .shadow {
        transform: scale(1, -1);
        color: #999;
        transition: ease-in 1s, ease-out 1s;
        --tw-shadow: none;
      }
      &:hover {
        .letter {
          transform: translateY(-20%);
        }
        .shadow {
          opacity: 0;
          transform: translateY(20%);
        }
      }
    }
  }
}


