.headerHomePage h1 {
  font-size: 4rem;
  line-height: 70px;
  font-weight: 500;
  color: var(--main-color);
  overflow: hidden;
}
.dark .headerHomePage h1 {
  color: var(--main-dark-color);
}
.headerHomePage h2 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--main-color);
  border-right-width: 4px;
  border-right-style: solid;
  animation: cursor 1s infinite step-end, typing 7s infinite steps(21);
  white-space: nowrap;
  overflow: hidden;
}
.dark .headerHomePage h2 {
  color: var(--main-dark-color);
  animation: cursorDark 1s infinite step-end, typing 7s infinite steps(21);
}

@keyframes cursor {
  0%,
  100% {
    border-color: var(--main-color);
  }
  50% {
    border-color: transparent;
  }
}
@keyframes cursorDark {
  0%,
  100% {
    border-color: var(--main-dark-color);
  }
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  0% {
    width: 0ch;
  }
  30% {
    width: 21ch;
  }
  80% {
    width: 21ch;
  }
  90% {
    width: 0ch;
  }
  100% {
    width: 0ch;
  }
}

.headerHomePage h3 {
  font-size: 2rem;
}
.slice-effect {
  --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
  --m: left var(--_i, 0%) top var(--_g), bottom var(--_i, 0%) left var(--_g),
    top var(--_i, 0%) right var(--_g), right var(--_i, 0%) bottom var(--_g);
  -webkit-mask: var(--m);
  mask: var(--m);
  transition: 0.5s linear;
  cursor: pointer;
}
.slice-effect:hover {
  --_i: 10%;
}
