.mainPage {
  padding: 50px;
  ul a {
    color: var(--main-color);
    background-image: linear-gradient(var(--main-color) 0 0);
    background-size: 100% 0; /* .08em - фиксированная высота; если нужно, измените */
    background-position: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0.3s 0.3s;
  }

  ul a:hover {
    transition: background-size 0.3s 0.3s, background-position 0.3s;
    background-size: 100% 0.06em;
    background-position: 0% 100%;
  }
}
.dark .mainPage h1 {
  color: var(--main-dark-color);
  border-right: 4px solid white; /*This will be the blinking cursor*/
}
.mainPage h1 {
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  color: var(--main-color);
  border-right: 4px solid white; /*This will be the blinking cursor*/
  animation: cursor 1s infinite step-end, typing 7s infinite steps(36);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes cursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@keyframes typing {
  0% {
    width: 0ch;
  } /*Text is hidden*/
  30% {
    width: 36.5ch;
  } /*The enitre header will be typed out 1 character at a time*/
  80% {
    width: 36.5ch;
  } /*Text stays visible*/
  90% {
    width: 0ch;
  } /*Text is deleted*/
  100% {
    width: 0ch;
  } /*Text stays hidden*/
}
