.headerHomePage {
  /* padding: 50px; */
}
.dark .headerHomePage h1 {
  color: var(--main-dark-color);
  border-right: 4px solid var(--main-dark-color); /*This will be the blinking cursor*/
}
.headerHomePage h1 {
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  color: var(--main-color);
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: var(--main-color); /*This will be the blinking cursor*/
  animation: cursor 1s infinite step-end, typing 7s infinite steps(37);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes cursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@keyframes typing {
  0% {
    width: 0ch;
  } /*Text is hidden*/
  30% {
    width: 38ch;
  } /*The enitre header will be typed out 1 character at a time*/
  80% {
    width: 38ch;
  } /*Text stays visible*/
  90% {
    width: 0ch;
  } /*Text is deleted*/
  100% {
    width: 0ch;
  } /*Text stays hidden*/
}
.headerHomePage p{
font-size: 2rem;
}
