@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: monospace;
  --nav-width: 250px;
  --main-color: #1e1b4b;
  --main-dark-color: white;
  --main-bg-dark-color: #1e1b4b;
  --main-bg-color: white;
  --hover-bg-color: #a5b4fc;
  --hover-bg-dark-color: #4338ca;
  --neutral-color: #e5e7eb;
  --link-color: #a21caf;
  --dark-link-color: #f0abfc;
  --dark-section-color: #312e81;
  --section-color: #e0e7ff;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(
    70deg,
    var(--main-bg-color),
    var(--hover-bg-color)
  );

  background-attachment: fixed;

  transition: background-color ease-in-out 150ms;
  color: var(--main-color);

  position: relative;
  font-size: 8px;
  @media (min-width: 640px) {
    font-size: 10px;
  }
  @media (min-width: 768px) {
    font-size: 12px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
  }
  @media (min-width: 1280px) {
    font-size: 14px;
  }
  @media (min-width: 1536px) {
    font-size: 16px;
  }
}
body {
  height: 100%;
}
#root {
  padding-left: var(--nav-width);
}
html.dark {
  background: linear-gradient(70deg, var(--main-bg-dark-color), #4338ca);
  background-attachment: fixed;
  color-scheme: dark;
  color: var(--main-dark-color);
}
.gradient-bg {
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.fade-effect {
  overflow: hidden;

  transform: translateY(30px);
  animation: fadeInText 1s 0ms forwards;
  opacity: 0;
}
.fade-effect-250 {
  overflow: hidden;
  transform: translateY(30px);
  animation: fadeInText 1s forwards;
  animation-delay: 250ms;
  opacity: 0;
}
.fade-effect-500 {
  overflow: hidden;
  transform: translateY(30px);
  animation: fadeInText 1s forwards;
  animation-delay: 500ms;
  opacity: 0;
}

@keyframes fadeInText {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
